html,
body {
    background: #FFFFFF;
}

.container {
    padding: 40px 54px;

    .title {
        font-size: 36px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        line-height: 50px;
        letter-spacing: 2px;
        text-align: center;
    }

    .content {
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(68, 68, 68, 1);
        line-height: 48px;

        .main {
            text-indent: 2em;
        }

        .subTitle {
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(0, 0, 0, 1);
        }
        .cont{
            text-indent: 2em;
            span{
                color: #FF6432;
            }
        }
    }


}