html,
body {
    background: rgba(249, 249, 249, 1);
}

.container {
    .title {
        padding-top: 36px;
        font-size: 36px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(68, 68, 68, 1);
        line-height: 50px;
        padding-left: 54px;
        margin-bottom: 40px;
    }

    .addPhone {
        width: 658px;
        height: 84px;
        border-radius: 38px;
        border: 2px dashed rgba(220, 220, 220, 1);
        margin: 0 auto;
        text-align: center;
        line-height: 84px;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(121, 121, 121, 1);
        margin-bottom: 30px;
    }

    .operate {
        display: flex;
        flex-direction: row;
        padding: 0 46px;
        justify-content: space-around;

        .inputFont {
            width: 208px;
            height: 84px;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
            border-radius: 38px;
            display: inline-block;
            text-align: center;
            line-height: 84px;
            font-size: 28px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 190, 195, 1);
        }

        .inputVideo {
            width: 208px;
            height: 84px;
            background: rgba(255, 255, 255, 1);
            border-radius: 38px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(206, 243, 242, 1);
            line-height: 84px;
            text-align: center;
        }
    }

    .selectTime {
        width: 658px;
        height: 82px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
        border-radius: 38px;
        margin: 30px auto 0;
        overflow: hidden;

        :global {
            .am-list-content {
                font-size: 32px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(85, 85, 85, 1);
            }
        }
    }

    .inputPw {
        width: 658px;
        height: 180px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
        border-radius: 38px;
        margin: 30px auto 0;
        overflow: hidden;
        :global {
            .am-list-item .am-input-label {
                font-size: 32px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(85, 85, 85, 1);
                width: 210px;
            }
        }
    }

    .passWordTips {
        margin: 24px auto 0;
        width: 650px;
        height: 68px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(146, 146, 146, 1);
        line-height: 34px;

        span {
            color: #FF6432;
        }
    }

    .sendInfo {
        width: 620px;
        height: 88px;
        background: rgba(0, 224, 230, .34);
        border-radius: 38px;
        margin: 82px auto 0;
        text-align: center;
        line-height: 88px;
        font-size: 32px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);

        &.canclick {
            background: rgba(0, 224, 230, 1);
        }
    }

    .inputDetail {
        .sureInputText {
            width: 620px;
            height: 88px;
            background: rgba(0, 224, 230, 1);
            border-radius: 38px;
            margin: 40px auto 0;
            line-height: 88px;
            text-align: center;
            font-size: 32px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
        }

        .imageInput {
            .imgTitle {
                font-size: 36px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(76, 76, 76, 1);
                line-height: 50px;
                padding-top: 36px;
                padding-left: 54px;
            }

            :global {
                .am-image-picker-list {
                    padding: 32px 46px 0;
                }
                .am-flexbox{
                    overflow: visible;
                }
                

                .am-image-picker-list .am-image-picker-upload-btn {
                    width: 200px;
                    height: 200px;
                    border-radius: 38px;
                    border: 2px solid rgba(222, 222, 222, 1);
                }
            }
        }

        :global {
            .am-list-header {
                font-size: 36px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(68, 68, 68, 1);
                line-height: 50px;
                padding-left: 54px;
            }

            .am-list-body {
                width: 658px;
                height: 835px;
                background: rgba(255, 255, 255, 1);
                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                border-radius: 38px;
                overflow: hidden;
                margin: 0 auto;
            }

            .am-list .am-list-item.am-textarea-item {
                border-bottom: none;
            }
        }
    }
}

:global {
    .am-modal-content {
        img {
            width: 480px;
        }
    }

    .am-list-item.am-input-error .am-input-control input {
        color: #333;
    }

    .am-list-item .am-list-line .am-list-extra {
        flex-basis: 50%;
    }

    // .am-input-label {
    //     min-width: 241px;
    // }
}