.container{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    .title{
        margin-top: 100px;
    }
    .addPhone{
        text-align: center;
        margin-bottom: 20px;
        .addIcon{
            width: 30px;
            height: 30px;
            line-height: 26px;
            text-align: center;
            border: 2px solid #000;
            margin-right: 10px;
            display: inline-block;
            border-radius: 50%;

        }
    }
    .passWordTips{
        padding: 0 20px;
    }
}

:global{
    .am-modal-content{
        img{
            width: 480px;
        }
    }
    .am-list-item.am-input-error .am-input-control input{
        color: #333;
    }
    .am-list-item .am-list-line .am-list-extra{
        flex-basis: 50%;
    }
    .am-input-label{
        min-width: 241px;
    }
}