html,
body {
    background: rgba(249, 249, 249, 1);
}

.container {
    padding-top: 44px;
    text-align: center;

    .title {
        font-size: 36px;
        font-family: PingFang SC;
        font-weight: 300;
        color: rgba(45, 45, 45, 1);
        line-height: 50px;
        letter-spacing: 2px;


        img {
            width: 96px;
            height: 62px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .content {
        .sendIcon {
            width: 666px;
            height: 134px;
            background: url("../images/sendIcon.png") no-repeat center;
            margin: 0 auto;
            font-size: 40px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            line-height: 106px;
        }

        .reciveIcon {
            width: 666px;
            height: 134px;
            background: url("../images/receiveIcon.png") no-repeat center;
            margin: 0 auto;
            font-size: 40px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            line-height: 106px;
        }

        .unfinished {
            width: 628px;
            height: 84px;
            margin: 20px auto 0;
            background: rgba(255, 255, 255, 1);
            border-radius: 38px;
            border: 2px solid rgba(182, 182, 182, 1);
            font-size: 34px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(102, 102, 102, 1);
            line-height: 84px;
            position: relative;

            .dotTips {
                width: 26px;
                height: 26px;
                background: rgba(255, 32, 48, 1);
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 6px;
            }
        }

        .saveInfo {
            width: 628px;
            height: 84px;
            background: rgba(255, 255, 255, 1);
            border-radius: 38px;
            border: 2px solid rgba(239, 147, 15, 1);
            margin: 20px auto 0;
            font-size: 34px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #F89200;
            line-height: 84px;
        }

        .cancelSend {
            width: 628px;
            height: 84px;
            background: rgba(255, 255, 255, 1);
            border-radius: 38px;
            border: 2px solid rgba(255, 89, 101, 1);
            margin: 20px auto 0;
            font-size: 34px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FF5965;
            line-height: 84px;
        }

        .usage {
            width: 440px;
            height: 80px;
            background: rgba(255, 255, 255, 1);
            border-radius: 38px;
            border: 2px solid rgba(225, 225, 225, 1);
            margin: 52px auto 0;
            font-size: 32px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(109, 127, 139, 1);
            line-height: 80px;
        }

        .connect {
            width: 440px;
            height: 80px;
            background: rgba(255, 255, 255, 1);
            border-radius: 38px;
            border: 2px solid rgba(225, 225, 225, 1);
            margin: 20px auto 0;
            font-size: 32px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(109, 127, 139, 1);
            line-height: 80px;
        }
    }

    .qrcode {
        border-radius: 5px;
        height: 80px;
        border: 1px solid #333;
    }
}