.container{
    .index{
        background:#fff;
        height:100%;
    }
    .tabWord{
        border:1px solid #ccc;
        width:500px;
        height:200px;
        margin:30px auto;
    }
    .actionBtn{
        text-align: center;
        background:#fff;
        padding-bottom:20px;
    }
    .x-recive{
        text-align: center;
        font-size: 30px;
        .tips{
            padding-top: 20px;
        }
        .payTips{
            
        }
    }
}

:global{
    .am-list{
        width: 100%;
    }
    .am-modal-content{
        img{
            width: 480px;
        }
    }
    .am-image-picker-item-remove{
        display: none;
    }
}
